@using Collections.Utils
@{ 
    var currentLang = @Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
}

<a 
    href="#"
    id="localeSwitcher"
    class="text-white items-center" 
>
    @currentLang.ToUpper()
    <svg class="inline group-focus:rotate-[-180deg] duration-200 stroke-current" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.6199 5.22083L7.81655 9.02416C7.36738 9.47333 6.63238 9.47333 6.18322 9.02416L2.37988 5.22083" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</a>
<div id="localeDropdown" class="absolute hidden">
    <ul>
        @foreach (string lang in Locales.Languages)
        {
            @if (lang != currentLang)
            {
                <li>
                    <a 
                        asp-controller="Locale"
                        asp-action="ChangeLocale"
                        asp-route-culture="@lang"
                        asp-route-page="@ViewContext.RouteData.Values["Action"]"
                        asp-route-id="@Context.GetRouteData().Values["id"]"
                        class="text-white"
                    >
                        @lang.ToUpper() 
                    </a>
                </li>
            }
        }
    </ul>
</div>
