@using Collections.Utils
@{ 
    var currentLang = @Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
}

<a 
    href="javascript:void(0);"
    id="localeSwitcher"
    class="dark:text-white text-gray-900 items-center" 
>
    @currentLang.ToUpper()
</a>
<div id="localeDropdown" class="absolute hidden">
    <ul>
        @foreach (string lang in Locales.Languages)
        {
            @if (lang != currentLang)
            {
                <li>
                    <a 
                        asp-controller="Locale"
                        asp-action="ChangeLocale"
                        asp-route-culture="@lang"
                        asp-route-page="@ViewContext.RouteData.Values["Controller"]"
                        asp-route-segment="@ViewContext.RouteData.Values["Action"]"
                        asp-route-id="@Context.GetRouteData().Values["id"]"
                        class="dark:text-white text-gray-900"
                    >
                        @lang.ToUpper() 
                    </a>
                </li>
            }
        }
    </ul>
</div>
