@model IEnumerable<User>
@{ int i = 0; }

<div class="flex flex-col">
	<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
		<div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
			<div>
				<table class="min-w-full">
					<thead class="border-b">
						<tr>
							<th scope="col" class="font-bold text-gray-900 px-6 py-4 text-left">
								#
							</th>
							<th scope="col" class="font-bold text-gray-900 px-6 py-4 text-left">
								Email
							</th>
							<th scope="col" class="font-bold text-gray-900 px-6 py-4 text-right">
								Actions
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var user in Model)
						{
							<tr class="border-b">
								<td class="px-6 py-4 whitespace-nowrap  font-medium text-gray-900">
									@(++i)
								</td>
								<td class="text-gray-900 px-6 py-4 whitespace-nowrap">
									@user.Email
								</td>
								<td class="flex justify-end text-gray-900 px-6 py-4 whitespace-nowrap">
									@if (User.Identity.Name != user.Email)
									{
										<form
											asp-area="Dashboard"
											asp-controller="User"
											asp-action="ChangeUserStatus" 
											method="post"
										>
											<input type="hidden" name="userId" value="@user.Id" />
											@if (user.Status == UserStatus.Default)
											{
												<input type="hidden" name="status" value="@((int)UserStatus.Blocked)" />
												<button
													type="submit"
													class="ml-2 px-4 py-1 rounded bg-red-500 text-white"
												>
													<i class="fa-solid fa-lock"></i>
													Block
												</button>
											}
											else
											{
												<input type="hidden" name="status" value="@((int)UserStatus.Default)" />
												<button
													type="submit"
													class="ml-2 px-4 py-1 rounded bg-green-500 text-white"
												>
													<i class="fa-solid fa-unlock"></i>
													Unblock
												</button>
											}
										</form>
										<form
											asp-area="Dashboard"
											asp-controller="User"
											asp-action="Delete" 
										>
											<input type="hidden" name="userId" value="@user.Id" />
											<button
												type="submit"
												class="ml-2 px-4 py-1 rounded bg-red-500 text-white"
											>
												<i class="fa-solid fa-trash-can"></i>
												Delete User
											</button>
										</form>
									}
									<a
										asp-area="Dashboard"
										asp-controller="Collection"
										asp-action="Index" 
										asp-route-userId="@user.Id"
										class="ml-2 px-4 py-1 rounded bg-blue-500 text-white"
									>
										Collections
									</a>
									<a
										asp-area="Dashboard"
										asp-controller="Item"
										asp-action="Index" 
										asp-route-userId="@user.Id"
										class="ml-2 px-4 py-1 rounded bg-purple-500 text-white"
									>
										Items
									</a>
									<a
										asp-area="Dashboard"
										asp-controller="Role"
										asp-action="Edit" 
										asp-route-userId="@user.Id"
										class="ml-2 px-4 py-1 rounded bg-green-500 text-white"
									>
										Edit Role
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
