@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model HomePageViewModel

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="max-w-7xl mx-auto px-4 relative">

    <h2 class="text-blue-500 uppercase tracking-wide font-semibold">
        @Localizer["MainTitle"]
    </h2>

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-12 border-gray-800 pb-16">
        @if (Model.Items.Count > 0)
        {
            foreach (var item in Model.Items)
            {
                <div class="mt-8">
                    <div class="relative inline-block">
                        <a asp-action="Show" asp-route-slug="@item.Slug">
                            @if (!String.IsNullOrWhiteSpace(item.File?.S3Path))
                            {
                                <img 
                                    src="@item.File.S3Path" 
                                    alt="@item.Name" 
                                    class="object-cover hover:opacity-75 transition ease-in-out duration-150 w-44 h-64"
                                />
                            }
                            else
                            {
                                <div class="flex justify-center items-center bg-gray-800 w-44 h-64">
                                    <span class="text-white text-2xl">No Image</span>
                                </div>
                            }
                        </a>
                    </div>
        
                    <div class="mt-4">
                        <h2 class="dark:text-white text-gray-900 text-lg font-semibold uppercase">
                            @item.Name
                        </h2>
                    </div>

                    <div class="mt-2">
                        <div class="dark:text-white text-sm text-gray-900">
                            <span class="text-blue-500">@Localizer["Collection"]:</span>
                            <a
                                asp-action="Index"
                                asp-route-collection="@item.Collection.Id"
                                asp-route-user="@item.Collection.User.Name"
                                class="hover:text-red-500"
                             >
                                @item.Collection.Name
                            </a>
                        </div>
                    </div>
                    
                    <div class="mt-2">
                        <div class="dark:text-white text-sm text-gray-900">
                            <span class="text-blue-500">@Localizer["Author"]:</span>
                            @item.Collection.User.Name
                        </div>
                    </div>

                    <div class="mt-1">
                        @foreach (var tag in item.Tags)
                        {
                            <a  
                                asp-action="Index"
                                asp-route-tag="@tag.Name"
                                class="dark:text-white text-gray-900 text-xs mr-1 hover:bg-sky-700 hover:rounded-xl"
                            >
                                @tag.Name
                            </a>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <h3 class="mt-10 text-red-500 uppercase font-medium">@Localizer["NoItems"]</h3>
        }
    </div>

    <div class="w-full">

        <h2 class="text-blue-500 uppercase tracking-wide font-semibold">
            @Localizer["TopCollections"]
        </h2>
                    
        <div class="recently-reviewed-container space-y-12 mt-8">

            @if (Model.Collections.Count > 0)
            {
                foreach (var collection in Model.Collections)
                {
                     <a
                        asp-action="Index"
                        asp-route-collection="@collection.Id"
                        asp-route-user="@collection.Author"
                     >
                        <div class="dark:bg-gray-800 bg-gray-100 w-full md:w-1/2 rounded-lg shadow-md my-2 p-6">
                            <p class="dark:text-white text-gray-900">
                                <span class="text-blue-500">@Localizer["Collection"]:</span>
                                @collection.Name
                            </p>
                            <p class="dark:text-white text-gray-900">
                                 <span class="text-blue-500">@Localizer["Author"]:</span>
                                @collection.Author
                            </p>
                        </div>   
                    </a>
                }
            }

        </div>

    </div>
    
    <div class="flex justify-center">
        @{
			var prevDisabled = !Model.Items.HasPreviousPage ? "disabled" : "";
			var nextDisabled = !Model.Items.HasNextPage ? "disabled" : "";
		}

        @if (Model.Items.HasNextPage || Model.Items.HasPreviousPage)
        {
            <a 
			    asp-action="Index"
			    asp-route-page="@(Model.Items.PageIndex - 1)"
			    class="text-white px-4 mx-4 rounded bg-blue-500 @prevDisabled"
		    >
			     <img src="~/images/arrow-left.svg" class="w-10" />
		    </a>

		    <a 
			    asp-action="Index"
			    asp-route-page="@(Model.Items.PageIndex + 1)"
			    class="text-white px-4 mx-4 rounded bg-blue-500 @nextDisabled"
		    >
			    <img src="~/images/arrow-right.svg" class="w-10" />
		    </a>
        }
    </div>
</div>
