@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IndexViewModel

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="max-w-7xl mx-auto px-4 relative">

    <h2 class="text-blue-500 uppercase tracking-wide font-semibold">
        @Localizer["MainTitle"]
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 xl:grid-cols-6 gap-12 border-gray-800 pb-16">
        @if (Model.Items.Count > 0)
        {
            foreach (var item in Model.Items)
            {
                <div class="anime mt-8">
                    <div class="relative inline-block">
                        <a asp-action="Show" asp-route-id="@item.Id">
                            @if (item.Image != null)
                            {
                                <img 
                                    src="~/images/@item.Image" 
                                    alt="@item.Name" 
                                    class="hover:opacity-75 transition ease-in-out duration-150 w-[170px] h-[250px]"
                                />
                            }
                            else
                            {
                                <div class="flex justify-center items-center bg-gray-800 w-[170px] h-[250px]">
                                    <span class="text-white text-2xl">No Image</span>
                                </div>
                            }
                        </a>
                    </div>
        
                    <div class="mt-4">
                        <a href="#" class="dark:text-white text-gray-900 text-lg font-semibold hover:text-gray-400">
                            @item.Name
                        </a>
                    </div>

                    <div class="mt-1">
                        @foreach (var tag in item.Tags)
                        {
                            <a  
                                asp-action="Index"
                                asp-route-tag="@tag.Name"
                                class="dark:text-white text-gray-900 mr-1 hover:text-gray-400"
                            >@tag.Name</a>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <h3 class="mt-10 text-red-500 uppercase font-medium">No items found...</h3>
        }
    </div>
    
    <div class="flex justify-center">
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a 
                asp-action="Index"
                asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                class="mx-4"
            >
                <img src="~/images/arrow-left.svg" class="w-10" />
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a 
                asp-action="Index"
                asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                class="mx-4"
            >
                <img src="~/images/arrow-right.svg" class="w-10" />
            </a>
        }
    </div>
</div>
