@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<Collections.SharedResource> SharedLocalizer
@model Item

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="max-w-7xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2">
        @if (!String.IsNullOrWhiteSpace(@Model.Image))
        {
            <div>
                <img 
                    src="~/images/@Model.Image" 
                    alt="@Model.Name" 
                    class="w-1/2 mx-auto md:mx-0"
                />
            </div>
        }
        else
        {
            <div class="flex justify-center items-center w-1/2 h-full bg-gray-800">
                <span class="text-white text-2xl">No Image</span>    
            </div>
        }
        <div class="text-center md:text-left">
            <h2 class="dark:text-white text-gray-900 font-bold text-6xl">
                @Model.Name
            </h2>

            <p class="dark:text-white text-gray-900 my-4">
                <span class="text-blue-500 font-bold">Collection: </span>
                @Model.Collection.Name
            </p>
            
            @if (Model.Fields.Count > 0)
            {
                @foreach (var field in Model.Fields)
                {
                    <p class="dark:text-white text-gray-900 my-4">
                        <span class="text-blue-500 font-bold">@field.Key: </span>
                        @Html.Raw(field.Value)
                    </p>
                }
            }
            <div class="flex flex-col items-center md:block">
                @if (User.Identity.IsAuthenticated)
                {
                    <input id="username" value="@User.Identity.Name" type="hidden" />
                    <input id="itemId" value="@Model.Id" type="hidden" />
                    <div class="flex justify-between w-20">
                        <img id="like" src="~/images/like.svg" alt="like" class="w-6 cursor-pointer" />
                        <img id="dislike" src="~/images/dislike.svg" alt="dislike" class="w-6 cursor-pointer" />
                    </div>
                }
                else
                {
                    <div class="flex justify-between w-20">
                        <img src="~/images/like.svg" alt="like" class="w-6 cursor-not-allowed" />
                        <img src="~/images/dislike.svg" alt="dislike" class="w-6 cursor-not-allowed" />
                    </div>
                }
                <div class="flex justify-between w-20">
                    <span class="like-count text-green-500"></span>
                    <span class="dislike-count text-red-500"></span>
                </div>   
                <div class="flex justify-between w-20">
                    <div id="likeProgressbar" class="h-2 bg-green-500"></div>
                    <div id="dislikeProgressbar" class="h-2 bg-red-500"></div>
                </div>   
            </div>
        </div>
    </div>  
    <div>
        <h3 class="my-6 text-xl text-blue-500">@Localizer["Comments"]</h3>
        
        <div id="commentsWrapper">
            
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="mt-10 mx-auto w-full sm:w-1/2">
                <div>
                    <textarea
					    id="commentBody"
					    class="w-full dark:bg-gray-800 bg-blue-300 dark:text-white text-gray-700 rounded shadow appearance-none rounded py-2 px-2 focus:outline-none focus:shadow-outline" 
					    type="text"
				    ></textarea>
                </div>
                <div class="text-right">
                    <button
                        id="commentSendBtn"
				        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
				        type="button"
			        >
				        @Localizer["Send"]
			        </button>
                </div>
            </div>
        }
        else
        {
            <div class="mt-10 dark:text-white text-gray-900">
                @Localizer["LoginPointer"] ->
                <a
                    asp-controller="Account"
                    asp-action="Login"
                    class="text-blue-500"
                >
                    @SharedLocalizer["Login"]
                </a>
            </div>
        }
    </div>
</div>
