@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Item

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="max-w-7xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div>
            <img 
                src="~/images/@Model.Image" 
                alt="@Model.Name" 
                class="mx-auto md:mx-0"
            />
        </div>
        <div class="text-center md:text-left">
            <h2 class="dark:text-white text-gray-900 font-bold text-6xl">
                @Model.Name
            </h2>

            <p class="dark:text-white text-gray-900 my-4">
                <span class="text-blue-500 font-bold">Collection: </span>
                @Model.Collection.Name
            </p>
            
            @if (Model.Fields.Count > 0)
            {
                @foreach (var field in Model.Fields)
                {
                    <p class="dark:text-white text-gray-900 my-4">
                        <span class="text-blue-500 font-bold">@field.Key: </span>
                        @field.Value
                    </p>
                }
            }
        </div>
    </div>  
</div>
