@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Item

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="max-w-7xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div>
            <img 
                src="~/images/@Model.Image" 
                alt="@Model.Name" 
                class="mx-auto md:mx-0"
            />
        </div>
        <div class="text-center md:text-left">
            <h2 class="dark:text-white text-gray-900 font-bold text-6xl">
                @Model.Name
            </h2>

            <p class="dark:text-white text-gray-900 my-4">
                <span class="text-blue-500 font-bold">Collection: </span>
                @Model.Collection.Name
            </p>
            
            @if (Model.Fields.Count > 0)
            {
                @foreach (var field in Model.Fields)
                {
                    <p class="dark:text-white text-gray-900 my-4">
                        <span class="text-blue-500 font-bold">@field.Key: </span>
                        @field.Value
                    </p>
                }
            }
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <input id="username" value="@User.Identity.Name" type="hidden" />
                    <input id="itemId" value="@Model.Id" type="hidden" />
                    <div class="flex justify-between w-20">
                        <img id="like" src="~/images/like.svg" alt="like" class="w-6 cursor-pointer" />
                        <img id="dislike" src="~/images/dislike.svg" alt="dislike" class="w-6 cursor-pointer" />
                    </div>
                    <div class="flex justify-between w-20">
                        <span class="like-count text-green-500"></span>
                        <span class="dislike-count text-red-500"></span>
                    </div>
                }
                else
                {
                    <div class="flex justify-between w-20">
                        <img src="~/images/like.svg" alt="like" class="w-6 cursor-not-allowed" />
                        <img src="~/images/dislike.svg" alt="dislike" class="w-6 cursor-not-allowed" />
                    </div>
                    <div class="flex justify-between w-20">
                        <span class="like-count text-green-500"></span>
                        <span class="dislike-count text-red-500"></span>
                    </div>   
                }
            </div>
        </div>
    </div>  
</div>
