@using Microsoft.AspNetCore.Identity
@model RoleEditViewModel

@{ 
	ViewData["Title"] = "Role Edit";
}
 
<h1 class="font-bold pl-2">Change role -> @Model.UserEmail</h1> 

<form 
    asp-action="Edit" 
    class="mx-2 my-6"
    method="post"
>
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div>
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <div class="flex items-center mb-2">
                <input 
                    id="@role.Id"
                    type="radio" 
                    name="roles" 
                    value="@role.Name"
                    class="mr-4 rounded-full h-6 w-6 border border-gray-300 cursor-pointer"
                    @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") 
                />
                <label 
                    for="@role.Id"
                    class="text-lg font-medium text-gray-900" 
                >
                    @role.Name
                </label>
            </div>
        }
        <div class="flex items-center justify-between">
			<button
				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
				type="submit"
			>
				Save
			</button>
		</div>
    </div>
</form>